<!doctype html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Filip's Robot</title>
        <link href="web_style.css" rel="stylesheet">
        <script async src=" https://docs.opencv.org/master/opencv.js" type="text/javascript"></script>
    </head>
    <body>
        <!-- Picture of the robot -->
        <img src="dog.png" alt="good">
        <div id="status"></div>

        <!-- LED Control -->
        <div id="led_text">LED Control</div>
        <div id="led_control">
            <button type="button" id="front_LEDs_off">OFF</button>
            <button type="button" id="front_LEDs_default" class="active">ON</button>
            <button type="button" id="front_LEDs_max">ON (max)</button>
        </div>

        <!-- Adding space with line breaks -->
        <br><br><br>

        <!-- Movement Control -->
        <div id="movement_text">Movement</div>
        <div id="movement_control">
            <div class="row">
                <button class="up" id="move_up"></button>
            </div>
            <div class="row">
                <button class="left" id="move_left"></button>
                <button class="down" id="move_down"></button>
                <button class="right" id="move_right"></button>
            </div>
        </div>

        <!-- Video stream -->
         <div>
            <img id = "camera_img" src = "" alt = "No image"/>
            <canvas id = "canvas" style = "display:none"></canvas>
        </div>

        <script src="main.js" type="module"></script>
    </body>
</html>