<!doctype html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Filip's Robot</title>
        <link href="web_style.css" rel="stylesheet">
        <script async src="https://docs.opencv.org/master/opencv.js" type="text/javascript"></script>
    </head>
    <body>
        <!-- Header section for title -->
        <header>
            <h1>Filip's Robot Control Center</h1>
        </header>

        <div class="container">
            <!-- Left section: LED and Movement Controls -->
            <div class="left-panel">
                <div id="led_text">LED Control</div>
                <div id="led_control">
                    <button type="button" id="front_LEDs_off">OFF</button>
                    <button type="button" id="front_LEDs_default" class="active">ON</button>
                    <button type="button" id="front_LEDs_max">ON (max)</button>
                </div>

                <div id="movement_text">Movement</div>
                <div id="movement_control">
                    <div class="row">
                        <button class="up" id="move_up"></button>
                    </div>
                    <div class="row">
                        <button class="left" id="move_left"></button>
                        <button class="down" id="move_down"></button>
                        <button class="right" id="move_right"></button>
                    </div>
                </div>
            </div>

            <!-- Center section: Car and Distance Sensors -->
            <div class="center-panel">
                <div id="distance_text">Distance Sensors Data</div>
                
                <!-- Front Distance Sensor -->
                <div id="front-distance-value">Distance: No data</div>
                <div class="cone-container front-cone-container">
                    <div class="cone-fill" id="front-bar"></div>
                    <div class="label" id="front-label"></div>
                </div>
                
                <!-- Car Image (smaller) -->
                <img id="car-image" src="car.jpg" alt="Car" />

                <!-- Back Distance Sensor -->
                <div class="cone-container">
                    <div class="cone-fill" id="back-bar"></div>
                    <div class="label" id="back-label"></div>
                </div>
                <div id="back-distance-value">Distance: No data</div>
            </div>

            <!-- Right section: Camera Video (larger) -->
            <div class="right-panel">
                <div class="camera-container">
                    <img id="camera_img" src="default_cam.jpg" alt="No image"/>
                </div>
                <canvas id="canvas" style="display:none"></canvas>
            </div>
        </div>

        <script src="main.js" type="module"></script>
    </body>
</html>